<div class="member">
    <div class="member-image-container">
        <img src="<%= member.image %>" alt="Member Image">
    </div>
    <div class="member-name"><%= member.name %></div>
    <div class="member-designation"><%= member.designation %></div>
    <div class="member-contact-links">
        <ul>
            <li><a href="<%= member.contactInstagram %>"><img src="icons/instagram.svg" alt="Instagram Contact Link"></a></li>
            <li><a href="<%= member.contactLinkedin %>"><img src="icons/linkedin.svg" alt="Linkedin Contact Link"></a></li>
        </ul>
    </div>    
</div>
