<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Add Team Member | TES Admin' }); %>;
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="container">
            <h4 class="text-center"> Add New Team Member </h4>
            <img id="preview" class="rounded mx-auto d-block" width="600" src="<%=member.image%>">
            <%- include("./partials/teamMemberForm", { submit: "/admin/team/add", member: member }); %>
        </div>
        <%- include('./partials/scripts'); %>
        <script>
            const loadImage = (event) => {
                const image = document.getElementById('preview');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>
    </body>
</html>

