<!DOCTYPE html>
<html lan="en">
    <head>
        <%- include('./partials/head', {title: 'TES Admin | Events'}); %>
    </head>
    <body class="text-center">
        <%- include('./partials/navbar.ejs'); %>
        <h1> Events </h1>

        <h3> <a href="/admin/events/add"> Add new event </a> </h3>

        <!-- <ul class="list-groups"> -->
        <div class="container">
            <div class="row row-cols-2 g-4">
                <% events.forEach((event) => { %>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="/images/events/<%=event.image_path%>" class="card-img-top" alt="Event Image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= event.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= event.date %>
                            </h6>
                            <p class="card-text">
                                <%= event.description %>
                            </p>
                            <a href="/admin/events/edit/<%=event.id%>" class="card-link btn btn-primary">
                                Edit
                            </a>
                            <a href="/admin/events/delete/<%=event.id%>" class="card-link btn btn-warning">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <%- include('./partials/scripts'); %>
    </body>
</html>
