<div class="page">
    <%- include('../partials/pageTitle', { pageTitle: "Events" }); %>
    
    <% if (Object.keys(eventList).length > 0) { %>
        <% Object.keys(eventList).forEach(function(event) { %>
                <div class="event">
                    <div class="event-brief-info">
                        <div class="event-brief-info-name"><%= eventList[event].title %></div>
                        <div class="event-brief-info-time">
                            <span><%= eventList[event].date %></span>
                            <span><%= eventList[event].time %></span>
                        </div>
                    </div>
                    <div class="event-description">
                        <div class="event-description-image"><img src="<%= eventList[event].image %>"></div>
                        <div class="event-description-detail"><%= eventList[event].description %></div>
                        <div class="event-description-registration-link-container">
                            <a href="<%= eventList[event].link %>" class="event-description-registration-link">Click here to register</a>
                        </div>
                    </div>
                </div>
        <% }); %>
    <% } else { %>
        <div></div>
    <% } %>

</div>
