    <div class="card">
        <img src="<%=member.image%>" class="card-image-top rounded" alt="member image">
        <div class="card-body">
            <h4 class="card-title">
                <%= member.name %>
            </h5>
            <h5 class="card.subtitle mb-2 text-muted">
                <%= member.designation %>
            </h5>
            <a href="/admin/team/edit/<%=member.id%>" class="card-link btn btn-primary">
                Edit
            </a>
            <a href="/admin/team/delete/<%=member.id%>" class="card-link btn btn-warning">
                Delete
            </a>
        </div>
    </div>
